# 제로베이스 데이터 사이언스 스쿨 3기 SQL 과제 2
- 유가 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 30점
- 5번 10점
- 6번 10점
- 7번 15점
- 8번 15점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

In [13]:
import mysql.connector
remote = mysql.connector.connect(
    host = 'database-1.chcqu2um4kdt.us-east-1.rds.amazonaws.com',
    port = 3306,
    user='oneday',
    password='1234',
    database = 'oneday'
)

cur = remote.cursor(buffered=True)

문제 1.

주유소 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [14]:
sql = 'create table GAS_BRAND (id int auto_increment, name varchar(16), primary key (id))'
sql_2 = 'create table GAS_STATION (id int auto_increment\
,brand int\
,name varchar(64)\
,city char(2)\
,gu varchar(10)\
,address varchar(128)\
,gasoline int\
,diesel int\
,self boolean\
,car_wash boolean\
,charging_station boolean\
,car_maintenance boolean\
,convenience_store boolean\
,24_hours boolean\
,lat decimal(16,14)\
,lng decimal(17,14)\
,primary key (id)\
,foreign key (brand) references GAS_BRAND(id))'


cur.execute(sql)
cur.execute(sql_2)

문제 2.

Python 코드로 GAS_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [154]:
sql_3 = """insert into GAS_BRAND values (1,"SK에너지"),(2,"HD현대오일뱅크"),(3,"GS칼텍스"),(4,"S-OIL"),(5,"알뜰"),(6,"자가상표")"""

cur.execute(sql_3)

In [18]:
remote.commit()

제출 1.
- Table 생성 결과 : Desc GAS_BRAND; Desc GAS_STATION;

In [ ]:
mysql> desc GAS_BRAND;
+-------+-------------+------+-----+---------+----------------+
| Field | Type        | Null | Key | Default | Extra          |
+-------+-------------+------+-----+---------+----------------+
| id    | int         | NO   | PRI | NULL    | auto_increment |
| name  | varchar(16) | YES  |     | NULL    |                |
+-------+-------------+------+-----+---------+----------------+
2 rows in set (0.20 sec)

mysql> desc GAS_STATION;
+-------------------+----------------+------+-----+---------+----------------+
| Field             | Type           | Null | Key | Default | Extra          |
+-------------------+----------------+------+-----+---------+----------------+
| id                | int            | NO   | PRI | NULL    | auto_increment |
| brand             | int            | YES  | MUL | NULL    |                |
| name              | varchar(64)    | YES  |     | NULL    |                |
| city              | char(2)        | YES  |     | NULL    |                |
| gu                | varchar(10)    | YES  |     | NULL    |                |
| address           | varchar(128)   | YES  |     | NULL    |                |
| gasoline          | int            | YES  |     | NULL    |                |
| diesel            | int            | YES  |     | NULL    |                |
| self              | tinyint(1)     | YES  |     | NULL    |                |
| car_wash          | tinyint(1)     | YES  |     | NULL    |                |
| charging_station  | tinyint(1)     | YES  |     | NULL    |                |
| car_maintenance   | tinyint(1)     | YES  |     | NULL    |                |
| convenience_store | tinyint(1)     | YES  |     | NULL    |                |
| 24_hours          | tinyint(1)     | YES  |     | NULL    |                |
| lat               | decimal(16,14) | YES  |     | NULL    |                |
| lng               | decimal(17,14) | YES  |     | NULL    |                |
+-------------------+----------------+------+-----+---------+----------------+
16 rows in set (0.20 sec)

제출 2.
- GAS_BRAND 조회 결과 : SELECT * FROM GAS_BRAND;

In [ ]:
mysql> select * from GAS_BRAND;
+----+----------------+
| id | name           |
+----+----------------+
|  1 | SK에너지       |
|  2 | HD현대오일뱅크 |
|  3 | GS칼텍스       |
|  4 | S-OIL          |
|  5 | 알뜰           |
|  6 | 자가상표       |
+----+----------------+
6 rows in set (0.21 sec)

문제 3.

다음의 함수와 그 함수를 테스트하는 코드를 작성하세요. (PDF 파일 참고)

- 화폐단위 문자형을 입력받아 숫자형으로 반환하는 함수 (테스트 입력 : ‘1,000’)
- 주유소 브랜드를 입력하면 GAS_BRAND 데이터를 참고하여 ID 를 반환하는 함수 (테스트 입력 : ‘SK에너지’) - 주소를 입력받아 구 이름을 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)
- 주소를 입력받아 위도, 경도를 반환하는 함수 (테스트 입력 : ‘서울시 강남구 헌릉로 730’)

제출 3.
- 각 함수 및 테스트 코드와 실행결과

In [61]:
def change_int(num):
    num_without_comma = num.replace(',', '')
    i_num = int(num_without_comma)
    return i_num

change_int('1,000')

1000

In [185]:
cur.execute('select * from GAS_BRAND')
id_list = dict(cur.fetchall())
id_list

{1: 'SK에너지', 2: 'HD현대오일뱅크', 3: 'GS칼텍스', 4: 'S-OIL', 5: '알뜰', 6: '자가상표'}

In [194]:
def get_id(name):

    cur.execute('select * from GAS_BRAND')
    id_dict = dict(cur.fetchall())

    for key in id_dict.keys():
        if id_dict[key] == name:
            id =  key
    
    if name not in id_dict.values():
        id = 6 

    return id
        
get_id('SK에너지')

1

In [40]:
import googlemaps

gmaps_key = 'AIzaSyDv-g91b19-ky8rbBuzxLWgvELPkVFjrog'
gmaps = googlemaps.Client(key=gmaps_key)

In [56]:
def geo_info(address):
    geo = gmaps.geocode(address,language='ko')
    gu = geo[0]['address_components'][2]['long_name']
    lat, lng = geo[0]['geometry']['location']['lat'], geo[0]['geometry']['location']['lng']
    return gu, lat, lng

geo_info('서울시 강남구 헌릉로 730')

('강남구', 37.4665675, 127.1190803)

문제 4.

Python 코드에서 주유소 페이지에서 데이터를 가져올때, GAS_STATION 테이블에 바로 입력하도록 수정하세요. (앞서 생 성한 함수활용)
- 주의. city 는 ‘서울’ 로 고정, 부가정보 데이터 타입
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다. - 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.


제출 4.
- 주유소 데이터 관련 코드 (ipynb)

In [195]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import pandas as pd


url = 'https://www.opinet.co.kr/searRgSelect.do'
driver = webdriver.Chrome()
driver.get(url)

In [63]:
# 구 리스트

gu_list_raw =driver.find_element(By.ID,'SIGUNGU_NM0')
gu_list = [gu_list_raw.find_elements(By.TAG_NAME,'option')[n].text for n in range(len(gu_list_raw.find_elements(By.TAG_NAME,'option')))]

In [64]:
gu_list.pop(0)

'시/군/구'

In [65]:
gu_list

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [104]:
sql_data = 'insert into GAS_STATION values (%s ,%s ,%s , %s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s)'

In [196]:
#전체 데이터 추출 
import time
from selenium.common.exceptions import NoSuchElementException

def search_text(id):
    if soup.find('img',id=id).get('src').find('off') != -1:
        return False
    else:
        return True


for gu in gu_list:
    elements = driver.find_element(By.ID,'SIGUNGU_NM0')
    elements.send_keys(gu)
    time.sleep(2)

    nlist = driver.find_elements(By.CSS_SELECTOR,'#body1 > tr')  
   
   
    for n in range(len(nlist)):
        #브랜드
        station_brand=nlist[n].find_element(By.TAG_NAME,'img').get_attribute('alt')
        #매장이름
        name = nlist[n].find_element(By.TAG_NAME,'a').text
        # station_self=nlist[n].find_element(By.CLASS_NAME,'ic.ico_self').text 
        #휘발유 가격
        o_price = nlist[n].find_element(By.CLASS_NAME,'price').text
        o_price = change_int(o_price)
        #경유 가격
        d_price = nlist[n].find_elements(By.CLASS_NAME,'price')[1].find_element(By.TAG_NAME,'span').text
        d_price = change_int(d_price)
        #셀프여부
        try:
            station_self = nlist[n].find_element(By.CSS_SELECTOR, 'span.ic.ico_self > span').text
            is_self = 'Y' if station_self == '셀프' else 'N'
        except NoSuchElementException:
            is_self = 'N'

        nlist[n].find_element(By.TAG_NAME,'a').click()
        req = driver.page_source
        soup = BeautifulSoup(req,'html.parser')
        
        #주소
        st_adr = soup.find('label',id='rd_addr').text 
        #세차 여부
        washing_station = search_text('cwsh_yn')
        #충전 여부
        charging_station = search_text('lpg_yn')
        #경정비 여부
        light_maintenance = search_text('maint_yn')
        #편의점 여부
        snackshop = search_text('cvs_yn')
        #24시간 여부
        fullhours= search_text('sel24_yn')
        #구이름, 위도, 경도
        gu = geo_info(st_adr)[0]
        #위도
        lat = geo_info(st_adr)[1]
        #경도
        lng = geo_info(st_adr)[2]
        #id 
        id = get_id(station_brand)

        df = ('', id, name, '서울', gu, st_adr, o_price, d_price, is_self, washing_station, charging_station, light_maintenance, snackshop, fullhours, lat, lng)

        cur.executemany(sql_data, [df])
        remote.commit()
        
        
    print(gu)
    time.sleep(3)

강남구
강동구
강북구
강서구
관악구
광진구
구로구
금천구
노원구
도봉구
서울특별시
동작구
마포구
서대문구
서초구
성동구
성북구
송파구
양천구
영등포구
용산구
은평구
종로구
중구
중랑구

In [197]:
driver.quit()

문제 5.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작성)
- 전체 데이터를 가져오는데, 주유소 브랜드 아이디 대신 브랜드명이 표시되어야 합니다. (정렬 : 주유소 매장 아이디 순)
- 다음의 형식으로 저장되어야 함 (브랜드 이름, 칼럼 명 주의, id : GAS_STORE.id)

제출 5.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [198]:
import pandas as pd

sql_4 = """SELECT s.id, b.name AS brand_name, s.name, s.city, s.gu, s.address, 
                  s.gasoline, s.diesel, s.self, s.car_wash,
                  s.charging_station, s.car_maintenance, s.convenience_store, 
                  s.24_hours, s.lat, s.lng
           FROM GAS_STATION s
           INNER JOIN GAS_BRAND b
           ON s.brand = b.id"""

cur.execute(sql_4)
result = cur.fetchall()

# cursor.description을 사용하여 컬럼명 가져오기
columns = [desc[0] for desc in cur.description]

# 데이터 프레임 생성
df = pd.DataFrame(result, columns=columns)
df.to_csv('oil_station_sql_result.csv',encoding='utf-8-sig')

In [5]:
import pandas as pd
df_oil = pd.read_csv('oil_station_sql_result.csv')
df_oil.head()

,Unnamed: 0,id,brand_name,name,city,gu,address,gasoline,diesel,self,car_wash,charging_station,car_maintenance,convenience_store,24_hours,lat,lng
0,0,1,SK에너지,(주)보성 세곡주...,서울,강남구,서울 강남구 헌릉로 731 (세곡동),1648,1519,0,1,0,0,0,0,37.467157,127.118708
1,1,4,SK에너지,자곡셀프주유소,서울,강남구,서울 강남구 밤고개로 120 (자곡동),1697,1559,0,1,0,0,0,0,37.483400,127.104046
2,2,6,SK에너지,(주)중앙에너비스...,서울,강남구,서울 강남구 광평로 202 (수서동),1717,1597,0,1,0,0,0,0,37.484105,127.095040
3,3,10,SK에너지,오일프러스 셀프,서울,강남구,서울 강남구 남부순환로 2651 (도곡동),1726,1594,0,1,0,1,0,1,37.485839,127.039672
4,4,12,SK에너지,대교셀프주유소,서울,강남구,서울 강남구 강남대로 640 (신사동),1770,1670,0,0,0,0,0,1,37.528129,127.035554

문제 6.

위도, 경도 정보를 이용하여 미왕빌딩에서 1킬로 이내에 위치한 주유소 정보를 검색하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 미왕빌딩으로 부터의 거리 (km)

제출 6.
- 쿼리, 결과

In [199]:
# 미왕빌딩 위도와 경도 및 거리 제한 설정
cur.execute("SET @miwang_lat = 37.564213")
cur.execute("SET @miwang_lng = 126.974179")
cur.execute("SET @distance_limit = 1")

# 주유소 정보 검색(하버사인 공식)
sql_5 = """
    SELECT 
        s.id AS station_id,
        b.name AS brand_name,
        s.name AS station_name,
        s.address,
        (6371 * ACOS(
        COS(RADIANS(@miwang_lat)) * COS(RADIANS(s.lat)) * COS(RADIANS(s.lng) - RADIANS(@miwang_lng)) + 
        SIN(RADIANS(@miwang_lat)) * SIN(RADIANS(s.lat))
        )) AS distance
    FROM 
        GAS_STATION s
    INNER JOIN 
        GAS_BRAND b ON s.brand = b.id
    HAVING 
        distance <= @distance_limit
    ORDER BY 
        distance ASC
"""

cur.execute(sql_5)
result = cur.fetchall()

# 컬럼명 지정
columns = ["station_id", "brand_name", "station_name", "address", "distance"]

# 데이터 프레임 생성
df = pd.DataFrame(result, columns=columns)
df

   station_id brand_name station_name       address  distance
0         415      SK에너지        서남주유소  서울 중구 통일로 30  0.674683

문제 7.

위도, 경도 정보를 이용하여 미왕빌딩에서 셀프주유가 가능하고 24시간이면서 편의점이 있는 가장 가까운 주유소 10개를 휘 발유 가격이 가장 저렴한 순으로 정렬하여 조회하세요.

- 주유소 아이디, 주유소 브랜드명, 주유소 매장명, 주소, 휘발유 가격, 부가정보 (셀프, 24시간, 편의점 여부), 미왕빌딩으로 부터의 거리 (km)


제출 7.
- 쿼리, 결과

In [201]:
sql_6= """SELECT
    s.id AS station_id,
    b.name AS brand_name,
    s.name AS station_name,
    s.address,
    s.gasoline,
    s.self, 
    s.24_hours,
    s.convenience_store,
    (6371 * ACOS(
        COS(RADIANS(@miwang_lat)) * COS(RADIANS(s.lat)) * COS(RADIANS(s.lng) - RADIANS(@miwang_lng)) +
        SIN(RADIANS(@miwang_lat)) * SIN(RADIANS(s.lat))
    )) AS distance
FROM 
    GAS_STATION s
INNER JOIN 
    GAS_BRAND b ON s.brand = b.id
WHERE 
    s.self = 1 
    AND s.24_hours = 1 
    AND s.convenience_store = 1
ORDER BY 
    s.gasoline ASC,
    distance ASC
LIMIT 10"""

cur.execute("SET @miwang_lat = 37.564213")
cur.execute("SET @miwang_lng = 126.974179")
cur.execute(sql_6)
result = cur.fetchall()
columns = [desc[0] for desc in cur.description]
df = pd.DataFrame(result, columns=columns)
df

Empty DataFrame
Columns: [station_id, brand_name, station_name, address, gasoline, self, 24_hours, convenience_store, distance]
Index: []

문제 8.

구별로 주유소 브랜드 별 휘발유 평균가격을 조회하여 저렴한 순으로 출력하세요.

- 구 이름, 주유소 브랜드 이름, 휘발유 평균 가격

제출 8.
- 쿼리, 결과

In [205]:
sql_7 = """
SElECT
s.gu,
b.name,
AVG(s.gasoline) AS Oil_price
FROM GAS_STATION s
INNER JOIN GAS_BRAND b ON s.brand = b.id
GROUP BY s.gu, b.name
ORDER BY Oil_price"""

cur.execute(sql_7)
result = cur.fetchall()
columns = [desc[0] for desc in cur.description]
df = pd.DataFrame(result, columns=columns)
df

      gu      name  Oil_price
0    양천구     S-OIL  1582.0000
1    구로구        알뜰  1585.0000
2    중랑구  HD현대오일뱅크  1587.0000
3    서초구      자가상표  1589.0000
4    구로구     SK에너지  1593.6667
..   ...       ...        ...
112  동자동     SK에너지  2130.0000
113   중구     SK에너지  2163.6667
114  용산구     SK에너지  2202.0000
115  종로구     GS칼텍스  2275.0000
116  용산구     GS칼텍스  2449.5000

[117 rows x 3 columns]

---